@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.text-rainbow {
  font-family:'Roboto';
}

.text-rainbow {
  color: white;
  background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
  rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 5s linear infinite forwards;
}

.text-rainbow-hover-black {
  color:black;
  transition: 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.text-rainbow-hover-black:hover {
  color: black;
  font-size: 1.2em;
  background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
              rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 5s linear infinite forwards;
}

@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 600vw;
  }
}

.border-rainbow {
  border-color: white;
  animation: rainbow-border 5s linear infinite;
}

@keyframes rainbow-border {
  0% {
    border-color: white;
    box-shadow: 10 px 10px white;
  }
  10% {
    border-color: red;
    box-shadow: 10 px 10px red;
  }
  20% {
    border-color: green;
    box-shadow: 10 px 10px green;
  }
  30% {
    border-color: orange;
    box-shadow: 10 px 10px green;
  }
  40% {
    border-color: yellow;
    box-shadow: 10 px 10px yellow;
  }
  50% {
    border-color: blue;
    box-shadow: 10 px 10px white;
  }
  60% {
    border-color: indigo;
    box-shadow: 10 px 10px white;
  }
  60% {
    border-color: purple;
    box-shadow: 10 px 10px white;
  }
  70% {
    border-color: violet;
    box-shadow: 10 px 10px white;
  }
  80% {
    border-color: rgb(255, 29, 67);
    box-shadow: 10 px 10px rgb(255, 29, 67);
  }
  90% {
    border-color: rgb(255, 188, 194);
    box-shadow: 10 px 10px rgb(255, 188, 194);
  }
  100% {
    border-color: white;
    box-shadow: 10 px 10px white;
  }
}
